# **Here is a beginner-level programming challenge using Python.**

#P-1 (for loop)
Write a program that prints
"Hello Coddy: " and the i value from 3 to 27 (including, 25 times in total),
do it using a for loop.

In [1]:
count = 1
for index,i in enumerate(range(3,28)):
    print("Hello Coddy: ",i)
count+=index
print(count)

Hello Coddy:  3
Hello Coddy:  4
Hello Coddy:  5
Hello Coddy:  6
Hello Coddy:  7
Hello Coddy:  8
Hello Coddy:  9
Hello Coddy:  10
Hello Coddy:  11
Hello Coddy:  12
Hello Coddy:  13
Hello Coddy:  14
Hello Coddy:  15
Hello Coddy:  16
Hello Coddy:  17
Hello Coddy:  18
Hello Coddy:  19
Hello Coddy:  20
Hello Coddy:  21
Hello Coddy:  22
Hello Coddy:  23
Hello Coddy:  24
Hello Coddy:  25
Hello Coddy:  26
Hello Coddy:  27
25

#P-2 (while loop)
Write a program that gets one input, float number.
Use a while loop to divide the input by 2 as long as the number is bigger or equal to 3.5.
Print the first number that is smaller than 3.5.

In [ ]:
var = float(input())
var2 = 0
while var >=3.5:
    var = var/2
print(var)

10
2.5

#P-3 (Factorial number)
Write a program that receives one input, an integer, calculates the factorial of the input and prints it.
For example, for input 5, the output should be 120 because 1 * 2 * 3 * 4  * 5 = 120

In [ ]:
var1 =int(input())
var = 1
#while var >n:
for i in range(1,var1+1):
  #print(i)
  var = i * var
print(var)

#solve this by while loop as well

5
120

#P-4 (sum of dynamic inputed number)
Write a program that gets a dynamic number of input values.
The first input is a number that represents the number of the input values following it. The next input values are whole numbers.
In the end, print the sum of all the input numbers (not including the first input).

In [ ]:
n= int(input())
res = 0
for i in range(n):
    a = int(input())
    res += a
print(res)

3
12
2
2
16

#P-5
Write a program that gets one input, a number. The input number indicates
how many times to execute the below function.
Create a function that calculates the sum of all of the numbers between 1 and 10000 (including) and
prints it, name the function however you like.

In [1]:
def sum_numbers():
  n = 0
  for i in range(1,10001):
    n=i+n
  print(n)

res = int(input())
for i in range(res):
  sum_numbers()

#check why above code is work on Coddy tech but not here

3
50005000
50005000
50005000

# P-6
Each test case has three inputs.
The first input indicates how many times to do iterations, and the last two inputs are numbers that we will do operations on.

Create a function that receives two arguments and returns the bigger number of the two. if both are equal then return one of them.

Iterate iterations times and for each iteration do:

Call the function with num1, num2, and save the result in a variable.
Divide the bigger number of the two by 2, and then replace the original larger variable with the new result value.
print the new value.
Continue doing it until the program iterated iterations times or one of the numbers is smaller than 2.

In [2]:
iterations = int(input())
num1 = int(input())
num2 = int(input())

def bigger(arg1, arg2):
    if arg1 > arg2:
        return arg1
    else:
        return arg2

for i in range(iterations):
    if num1 < 2 or num2 < 2:
        break
    big = bigger(num1, num2)
    if big == num1:
        num1 /= 2
        print(num1)
    else:
        num2 /= 2
        print(num2)

12
3
2
1.5

##P-7
Write a function named sigma with one argument that represents a number n.

The function will return the sum of all the numbers from 1 to n (including).

For example, for sigma(5), the function will return 15, because 15 = 1 + 2 + 3 + 4 + 5.

In [ ]:
def sigma(n):
    sm = 0
    for i in range(1,n+1):
        sm = sm + i
    return sm

sigma(5)

15

# P-8
Create a function named values that receives a list as an argument and prints all of the items in the list one after the other.

To iterate over a list use the len() function inside the range() function:

In [ ]:
def values(lst):
  for i in range(len(lst)):
    print(lst[i])

my_list = [10, 20, 30, 40, 50]

values(my_list)

# P-9
Create a function named change_element that receives 3 arguments:
First arguments is a list
Second argument is an index
Third argument is a new element
The function will return a modified list by changing the element in an index that is stored in the second argument with the value in the third argument.

For example with the following arguments: change_element([1, 2, 3], 0, 9) the function will return [9, 2, 3]

In [ ]:
def change_element(lst, index, new_element):
  lst[index] = new_element
  print(lst)

change_element(['0'], 0, 9)

#P-10
Create a function named merge that receives two lists as arguments. The function merges the two lists into one sorted list and returns it.
For example the following arguments: merge([1, 4, 2], [2, 5, 9]) will return [1, 2, 2, 4, 5, 9]

In [ ]:
def merge(lst1,lst2):
  for i in lst2:
    lst1.append(i)
    lst1.sort()
  print(lst1)

 merge([1, 4, 2], [2, 5, 9])

#P-11
Each test case has one input - an odd whole number.
Your task is to print n - pyramid using *, here are some examples: Input= 7
     *
    ***
   *****
  *******

In [ ]:

n = int(input())
# Check if n is within the valid range
if not (1 <= n < 1000):
    print("Error: n must satisfy 1 <= n < 1000")
else:
    for i in range(1, n + 1):
        if i % 2 == 1:
            num_spaces = (n - i) // 2
            space = " " * num_spaces
            star = "*" * i
            print(space + star + space)


#// 2: Performs integer division by 2. This division ensures that the remaining characters (after placing stars) are equally
# divided on both sides of the stars.
#Integer division means it truncates any decimal part, ensuring we get whole numbers of spaces.

5
    *
   ***
  *****
 *******
*********

#P-12
Write a function named mulWord that gets a string s and an integer n and returns the string n times with space between each.

In [ ]:
def mulWord(s,n):
  print((s+" ")*n)

mulWord('sachi',3)

sachi sachi sachi

#P-13
Write a function named sum that gets a number n and returns the sum of the numbers from 1 to n.

Bonus - Make it a recursive function!

In [10]:
#Metod 1'''
def sum(n):
  sm = 0
  for i in range(1,n+1):
    sm = sm+i
  print(sm)

sum(10)

#Method 2
def sum1(n):
  return 0 if n==0 else (n+sum1(n-1))  # using recursion method


sum1(10)

55

55

#P-14
Check if a number is a prime number.

In [ ]:
def is_prime(num):
    """Check if a number is a prime number."""
    if num <= 1:
        return False
    if num == 2:
        return True
    if num % 2 == 0:
        return False
    max_divisor = int(num**0.5) + 1
    for d in range(3, max_divisor, 2):
        if num % d == 0:
            return False
    return True


is_prime(101)

True

#P-15
Factorial Number

In [ ]:
#Method1
def fact(num):
  f = 1
  for i in range(1,num+1):
    f= f*i
  print(f)

fact(6)

#Method 2
def fact1(num):
  return 1 if num==1 else (num*fact1(num-1)) #using recursion method


fact1(6)

720

720

#P-16
Write a function named isPalindrome that gets an integer and returns true if the integer is a palindrome otherwise false.'''

In [ ]:
num = 124216

def isPalindrome(num):
  num_str = str(num)
  return num_str == num_str[::-1]

isPalindrome(num)

False

#P-17
Write a function named min that gets an array of integers and returns the minimum number.

In [135]:
def min(arr):
  mn = max(arr)+1
  for i in range(0,len(arr)):
    if arr[i]<mn:
      mn = arr[i]
  print(mn)


m= [123, 432, 543, 122]
min(m)

122

#P-18
Create a function names transpose that receives one argument: A list that contains lists. and returns a modified list.

Your task is to swap the rows and columns of the list. This is usually referred to as transpose in mathematics.

In [42]:
def transpose(matrix):
    if not matrix:  # Check if matrix is empty
        return []
    num_rows = len(matrix)
    num_cols = len(matrix[0])  # assuming all rows have the same number of columns

    transposed = []
    for col in range(num_cols):
        new_row = []
        for row in range(num_rows):
            new_row.append(matrix[row][col])
        transposed.append(new_row)


    return transposed

transpose([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
transpose([])

#P-19
Write a function named lens that gets an array of strings and returns an array of integers, where each element is the length of the string corresponding to the same index in the input array.

Examples,

lens(['How', 'is', 'it', 'you'])  ->  [3, 2, 2, 3]
lens(['first', 'second', 'third', '4'])  ->  [5, 6, 5, 1]

In [58]:
def lens(arr):
  new_arr = []
  for i in arr:
    new_arr.append(len(i))
  return new_arr

lens(['test'])

[4]

#P-20
Write a function named alternate that gets two arrays of integers and returns an array that is a combination of the arrays alternating.
Example,
alternate([1, 2, 3], [4, 5, 6])  ->  [1, 4, 2, 5, 3, 6]

In [77]:
def alternate(a1,a2):
  new_lst =[]
  for i in range(0,len(a1)):
    new_lst.append(a1[i])
    new_lst.append(a2[i])

  return new_lst

alternate([1, 2, 3], [4, 5, 6])

[1, 4, 2, 5, 3, 6]