# List Comprehension Exercise

# P-1 Cube of number (List Comphension - Mapping)
-List Comprenhension Syntax:  lst = [expression for item in iterable]
-calculate a list which holds the cubes of all the number

In [ ]:
nums = [1, 4, 6, 12, 3]

#method 1 (Without List Comprehension)
cube = []
for i in nums:
  cube.append(i**3)
#print(cube)

# method 2 (With List Comprehension
cubes = [i**3 for i in nums]
print(cubes)

<class 'list'>

# P-2 filter only the ones containing the character 'a' (List Comprehension - Filtering)

-Syntax:  lst = [expression for item in iterable if condition] -->If the condition is True the
-item will be added to the new list. lst will hold a new list resulted from the list comprehension operation.

In [ ]:
#method 1 (Without List Comprehension)
filter = []
for wrd in words:
  if 'a' in wrd:
    filter.append(wrd)
print(filter)

# method 2 (With List Comprehension)
words = ['pony', 'confine', 'utter', 'decrease', 'entertain']
lst_a = [x for x in words if 'a' in x ]
lst_a

['decrease', 'entertain']

# P-3 (Even Number)
Create new list which includes only even number from existing list

In [ ]:
nums = eval(input())
even_nums = [x for x in nums if x%2==0 ]
even_nums

[23, 1, 3]

[]

# P-4 (palindrome words)
Given a list of strings words, calculate a new list where only the first letter of each word is stored if the word
is palindrome.Store the new list in a variable named new_words.
A palindrome is a string that remains the same even when read backwards, for example "php".

In [ ]:
words = eval(input())
new_lst = [x[0] for x in words if x[:]==x[::-1]]
new_lst

["A", "AA", "AAA"]

['A', 'A', 'A']

# P-5
Given a list of numbers nums.
Create a list comprehension that takes in nums and returns a new list named nums2 thatstores integers after dividing them by 3 if they are multiples of 3.

In [ ]:
nums = eval(input())  # Don't change this line
#nums = [15,12, 10]
nums2 = [int(x/3) for x in nums if x%3==0]
nums2

[1, 2, 4, 5, 7, 8, 10, 11, 13]

[]

# P-6
Given a list of tuples of three integers lst. Create a list comprehension that takes in a list of tuples lst, and returns a new list named new_lst that stores the same tuples if the sum of the integers in the tuple is greater than 20.Also, each tuple in new_lst should be sorted in descending order

In [ ]:
lst = eval(input())
new_lst = [tuple(sorted(i,reverse =True)) for i in lst if sum(i)>20]

new_lst

[(1, 5, 15), (7, 8, 10), (6, 6, 6), (2, 3, 30)]

[(15, 5, 1), (10, 8, 7), (30, 3, 2)]

# P-7
'''List comprehension can even be used on multiple input lists,
syntax:   result = [expression for x in lst1 for y in lst2]
The above example is for two lists but it can be as much as you want.'''

Problem: Given two lists of numbers nums1 and nums2.
Create a list comprehension that takes in two lists of integers, nums1 and nums2, and returns a new list named total_nums containing the product of each combination of integers from the two lists.'''


''''-- without list comprehension

nums1 = [10, 20]
nums2= [1, 2, 3, 4]

total_nums = []
for i in nums1:
  for j in nums2:
    total_nums.append(i*j)
print(total_nums)
'''

In [ ]:
nums1 = eval(input())  # Don't change this line
nums2 = eval(input())  # Don't change this line

total_nums = [i*j for i in nums1 for j in nums2]
print(total_nums)

[2, 4, 6, 8]
[1, 3, 5]
[2, 6, 10, 4, 12, 20, 6, 18, 30, 8, 24, 40]

# P-8
Given a list of numbers nums.Create a list comprehension that takes in a list of integers, nums, and returns a new list named divisible containing only the integers that are divisible by the sum of their digits.

In [ ]:
nums = eval(input())

divisible = [num for num in nums if num%sum(int(digit) for digit in str(num))==0 ]
divisible

#[111, 222, 333, 444, 555]-->[111, 222, 333, 444, 555]
#[123, 45, 67, 89, 1011]--> [45, 1011]

[111, 222, 333, 444, 555]

[111, 222, 333, 444, 555]

# P-9
Given a list of strings strings.Create a list comprehension that takes in a list of strings strings and returns a new list named pairs containing all
the pairs of strings that share no common letters.The result should be ordered by the occurrence of the words in the given list (by indexes).

In [ ]:
strings =eval(input())

pairs = [(s1, s2) for i, s1 in enumerate(strings) for j, s2 in enumerate(strings) if i < j and not set(s1) & set(s2)]
pairs
#['car', 'bike', 'train', 'boat']-->[('car', 'bike')]
#['apple', 'banana', 'cherry', 'date']-->[('banana', 'cherry')]

['blue', 'red', 'green', 'yellow']

[]